.recipe-tips {
  padding: var(--spacing-600) var(--spacing-300);
  max-width: 800px;
  margin: 0 auto;
}

.recipe-tips-section-header {
  margin-top: var(--spacing-400);
  margin-bottom: var(--spacing-200);
}

.recipe-tips-section-header:first-child {
  margin-top: 0;
}

.recipe-tips-section-header h2 {
  font-size: var(--font-size-600);
  font-weight: var(--weight-semibold);
  color: var(--color-dark-charcoal);
}

.recipe-tips-section-header h3 {
  font-size: var(--font-size-400);
  font-weight: var(--weight-semibold);
  color: var(--color-dark-charcoal);
  padding-top: var(--spacing-300);
  border-top: var(--border-s) solid var(--color-gray-400);
}

.recipe-tips-item {
  padding: var(--spacing-100) var(--spacing-200);
  background: var(--color-gray-100);
  border-radius: var(--rounding-l);
  margin-bottom: var(--spacing-80);
  border-left: var(--spacing-40) solid var(--color-red);
}

.recipe-tips-item-title {
  margin-bottom: var(--spacing-60);
}

.recipe-tips-item-title strong {
  font-size: var(--font-size-100);
  font-weight: var(--weight-semibold);
  color: var(--color-dark-charcoal);
}

.recipe-tips-item-description {
  font-size: var(--font-size-80);
  line-height: var(--line-height-l);
  color: var(--color-gray-900);
  margin: 0;
}

@media (width < 600px) {
  .recipe-tips {
    padding: var(--spacing-400) var(--spacing-100);
  }

  .recipe-tips-item {
    padding: var(--spacing-100);
  }
}
